.navbar-wmc {
    background: #000;
    border-radius: 0;
    margin-bottom: 0;
}

.menu-link {
    color: #fff;
    text-transform: uppercase;
    line-height: 80px;
}

.menu-link:hover {
    color: #000;
}

.icon-bar {
    background: #fff;
}

.item > img {
    width: 100%;
}

.area-conteudo {
     padding-top: 30px;
    padding-bottom: 30px;
}

footer {
    padding: 35px;
    border-top: 3px solid #ddd;
    margin-top: 35px;
}